@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #1e1e2a;
}


/* HEADER */

.header-container {
    height: 35vh;
    width: 100%;
    /*background-color: rgb(219, 219, 217);*/
    background-image: linear-gradient(rgb(99, 99, 99), rgb(221, 221, 217));
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

.stars{
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 
    50px 30px white,
    100px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    320px 100px white,

    100px 60px white,
    200px 160px white,
    160px 240px white,
    600px 40px white,
    500px 260px white,
    400px 100px white,
    300px 200px white,
    640px 200px white;

    animation: anim-stars 10s linear infinite;
}

.stars::after{
    content: " ";
    position: absolute;
    top: 150px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 
      50px 30px white,
      100px 80px white,
      80px 120px white,
      300px 20px white,
      250px 130px white,
      200px 50px white,
      150px 100px white,
      320px 100px white,

      100px 60px white,
      200px 160px white,
      160px 240px white,
      600px 40px white,
      500px 260px white,
      400px 100px white,
      300px 200px white,
      480px 200px white;
  }

  .stars2{
    position: relative;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 
      15px 15px white,
      125px 35px white,
      50px 80px white,
      10px 120px white,
      275px 90px white,
      230px 10px white,
      120px 130px white,
      300px 130px white,
      220px 115px white,

      30px 30px white,
      250px 70px white,
      100px 160px white,
      20px 240px white,
      550px 180px white,
      460px 20px white,
      480px 260px white,
      600px 320px white,
      440px 230px white;
    animation: anim-stars 20s linear infinite;
  }
  
  .stars2::after{
    content: " ";
    position: absolute;
    top: 150px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 
      15px 15px white,
      125px 35px white,
      50px 80px white,
      10px 120px white,
      275px 90px white,
      230px 10px white,
      120px 130px white,
      300px 130px white,
      220px 115px white,

      30px 30px white,
      250px 70px white,
      100px 160px white,
      20px 240px white,
      520px 180px white,
      460px 20px white,
      240px 260px white,
      600px 260px white,
      440px 230px white;
  }

@keyframes anim-stars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-150px);
    }
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: -55px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #1e1e2a;
    padding: 1rem 4rem;
    border: 1px solid #1e1e2a;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s ease-in-out;
}

a:hover {
    background-color: #ffffff;
}

/* Menu */

.checkbox-container {
   display: flex;
   justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 63px;
    top: 32px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
  width: 50px;
  height: 2px;
  background-color: #1e1e2a;  
  position: absolute;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* Menu */

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #1e1e2a;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/*ANIMAÇÃO MENU*/

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: #ffffff;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #ffffff;
    z-index: 1;
}

#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
    position:absolute;

    
}

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
    
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin-top: -87px;
    margin-bottom: -44px;
    
}
#frame-home{
    margin-top: 53px;
    padding-bottom: 0px;    
    margin-right: -150px;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 15%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(198, 176, 241);
    background-image: url(img/foto\ perfil\ trabalho.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: rgb(109, 109, 109);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-text {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
    margin-top: 55px;
    margin-right: -39px;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    


    
}

/* .card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: 0.5s ease-in-out;
} */

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
    color: rgb(225, 231, 236);
}

.card-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

/* footer */

.footer {
   width: 100%;
   height: 100px;
   background-color: rgb(219, 219, 217); 
   display: flex;
   align-items: center;
   justify-content: center;
}


@media screen and (max-width: 375px ) {
    .header-container {
        width: 100%;
        height: 139px;
    }
    
    
    
    body {
        width: 100%;
    }
    
    h1 {
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-top: 30px;
        margin-left: 53px;
        
        
        
    }
    h2 {
        font-size: xx-small;
        margin-top: -47px;
        margin-left: 54px;
    }
    
    
    .header {
        display: flex;
        flex-direction: column;
        padding: 1px;
        justify-content: flex-start;
        position: relative;
        right: 106%;
        top: -6%;   
    
    }
    .social-media{
        margin-left: 72px;
        padding-top: 13px;
    }
    
    .social-media a {
        padding: 0.5rem 3rem;
    }
    
    .checkbox {
        left: 16rem;
        margin-top: -49px;
        margin-left: 67px;
    }
    .menu-items{
        margin-left: 15px;
    }
    
    .card-container {
        display: flex;
        flex-direction: column;
        top: 2px;
        align-items: center
    }
    
    .card {
        
        animation-duration: 3s;
        margin-top: 52px;
        animation-name: cardd;
        
        animation-iteration-count: infinite;
       
      }
    
    .card-text {
        left: 60%;
        
    }
    
    }
/* Animação */

@keyframes cardd {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    80% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }

}

/* Iphone 5 6 7(plus) x xr */

@media (min-width: 376px) and (max-width: 767px) {
    .header-container {
        width: 100%;
        height: 213px;
    }
    
    html {
        width: 100vw;
        height: 100vh;
    }
       
    body {
        width: 130vw;
        
    }
    
    h1 {
        font-size: 21px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-top: 30px;   
        
        
    }
    #frame-home{
        display: none;
    }
    ._2XBDTIVigBJDybhZvL-hU3{
        display: none;
        background-color: yellow;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        padding: 1px;
        justify-content: flex-start;
        position: relative;
        right: 3%;
        top: -6%;   
    
    }
    
    .social-media a {
        padding: 0.5rem 3rem;
    }
    
    .checkbox {
        left: 19rem;
        margin-top: -39px;
    }
    
    .card-container {
        display: flex;
        flex-direction: column;
        margin-top: 6px;
        align-items: center
        
    }
    
    .card {
        margin: -2rem 0 0 2rem;
    }
    
    .card-text {
        left: 60%;
    }

    .footer {
        margin-top: 20%;
    }

}




   

